.navbar-search {
    background-color: black;
    border-radius: 10px;
    color: white;
    animation: borderAnimation 10s infinite;
    cursor: pointer;
}

#navbar-search-box {
    max-width: 200px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    position: relative;
}

.navbar-search > i{
    padding: 0 5px;
}

@keyframes borderAnimation {
    0% {border: 2px solid red;}
    25%{border: 2px solid yellow;}
    50%{border: 2px solid green;}
    75%{border: 2px solid brown;}
    100% {border: 2px solid  red;}
  }

#navbar-search-data {
    position: absolute;
    top: 100%;
    background-color: white;
    color: black;
    right: 0;
    z-index: 10000;
    width: 300px;
}

#navbar-search-data > span {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px ;
}

.navbar-search-data-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, chocolate 50%) right;
    background-size: 200%;
    transition: 0.3s linear;
}

.navbar-search-data-item:hover {
    text-decoration: none;
    background-position: left;
    animation: borderAnimation 10s infinite;
}

.navbar-search-data-item > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-search-data-item > span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: black;
}