@media (min-width: 601px) and (max-width: 768px){
    .container {
        max-width: 760px;
    }
}

@media (max-width: 992px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-search {
        display: flex;
        align-items: center;
        width: 100%;
    }
    #navbar-search-box {
        max-width: none;
        width: 100%;
    }

    #navbar-search-data {
        left: 0;
        right: 0;
        width: 100%;
    }

    .navbar-history > span {
        display: none;
    }

    .navbar-login-regis {
        padding: 10px 0;
    }

    .navbar-login,
    .navbar-register {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
    .admin-setting-account-item > a {
        text-align: center;
    }

    .admin-setting-account-item > span {
        display: none;
    }
}

@media (max-width: 450px) {
    .admin-navbar-menu > a > span {
        display: none;
    }
}

// // Tablet
// @media (min-width: 769px) and (max-width: 1024px) {
//     .hide-on-tablet {
//         display: none;
//     }
// }    

// // medium tablet
// @media (min-width: 601px) and (max-width: 768px) {
//     .hide-on-medium-tablet {
//         display: none;
//     }
// }

// // mobile
// @media (min-width: 376px) and (max-width: 600px) {
//     .hide-on-mobile {
//         display: none;
//     }
// }

// @media (max-width: 375px) {
//     .hide-on-mobile {
//         display: none;
//     }
// }