

.comic-detail {
    padding: 20px 0;
    border-bottom: 1px solid white;
}
.comic-detail-image {
    object-fit: cover;
    margin: 10px 0;
}

.comic-detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comic-detail-name {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    font-weight: 700;
}

.comic-detail-item {
    font-size: 16px;
    line-height: 30px;
    display: flex;
}

.comic-detail-item > p {
    margin-right: 10px;
    font-weight: 600;
}

.comic-detail-content {
    padding: 10px 0;
}

.comic-detail-content-label {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin: 5px 0;
}

.comic-detail-content-clearly {
    font-size: 16px;
    line-height: 25px;
    position: relative;
    max-height: 50px;
    overflow: hidden;
}

.show-more-content {
    cursor: pointer;
}

.less-state{
    width: 96%;
    color: white;
    padding-bottom: 10px;
    font-weight: 700;
}

.more-state {
    position: absolute;
    overflow-x: hidden;
    bottom: 0;
    width: 96%;
    height: 100px;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1));
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: 700;
}

.facebook-plugin {
    background-color: rgba($color: #000000, $alpha: 1);
    padding: 0px 10px;
    margin: 20px 0;
    border-radius: 10px;
    animation: borderAnimation 10s infinite;
}

@keyframes borderAnimation {
    0% {border: 2px solid red;}
    25%{border: 2px solid yellow;}
    50%{border: 2px solid green;}
    75%{border: 2px solid brown;}
    100% {border: 2px solid  red;}
  }

.facebook-plugin-label {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
}

.facebook-plugin-label > svg {
    margin-right: 10px;
}

.facebook-plugin > iframe {
    margin-top: 20px;
}

.comic-item-chapterDetail-father {
    max-height: 100px;
    overflow: hidden;
}

.comic-item-chapterDetail {
    display: block;
    text-align: left;
    color: white;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.comic-detail-chapter-label {
    padding: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-weight: 600;
}

.comic-detail-chapter-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 500px;
    overflow: hidden;
}

.comic-detail-chapter-item {
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    color: white;
}

.comic-detail-chapter-item:hover {
    text-decoration: none;
    background-color: chocolate;
    transition: background-color 0.5s linear;
    color: black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
    color: white;
    margin: 30px 0;
}

.navigation > i {
    font-size: 30px;
}


#chapter-comic-image{
    text-align: center;
    background-color: #000000;
    padding: 10px 0;
    margin-bottom: 50px;
}

#chapter-comic-image > img {
    max-width: 100%;
    object-fit: contain;
}

#listChapter {
    text-align: left;
    position: absolute;
    top: 100%;
    right: 44%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    flex-direction: column;
    display: none;
    box-shadow: 0 2px 20px 10px rgb(0, 0, 0);
    max-height: 256px;
    overflow: scroll;
}

#listChapter > a {
    display: block;
    padding: 20px 20px;
    color: black;
}

#listChapter > a:hover {
    background-color: chocolate;
    color: white;
    text-decoration: none;
}

.show-more-chapter {
    cursor: pointer;
}

.history-comic-list-item > span {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}

.history-comic-seeMore {
    padding: 10px 0;
    border-top: 1px solid white;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}

.history-comic-seeMore:hover {
    text-decoration: none;
    color: chocolate;
}

.navigation-scroll-up {
    display: block;
    text-align: center;
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition:  0.5s linear;
}

.navigation-scroll-up-modified {
    display: block;
    text-align: center;
    background-color: black;
    margin: 20px 0;
}

.navigation-scroll-up-item {
    border: 1px solid white;
    padding: 15px 0;
    cursor: pointer;
}

.navigation-scroll-up-item > i {
    color: white;
}

.navigation-scroll-up-item:hover {
    background-color: chocolate;
}

#list-chapter-left {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 200px;
    height: 100vh;
    padding: 10px 0px;
    overflow: scroll;
    background-color: black;
}

#list-chapter-left > a {
    display: block;
    text-align: left;
}

.list-chapter-left-comic {
    border-bottom: 1px solid white;
    padding: 10px 0;       
}

.list-chapter-left-comic > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-chapter-left-comic .col-8,
.list-chapter-left-comic .col-4 {
    padding: 0;
}

.list-chapter-left-comic > a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;   
}

.list-chapter-left-chapter {
    padding: 10px 5px;
    color: white;
}

.list-chapter-left-chapter:hover {
    text-decoration: none;
    background-color: chocolate;
    color: red;
}

.chapter-active {
    background-color: chocolate;
}

#list-chapter-left-layer {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.6);
}