<div class="container mt-4">
    <div class="post-comic">
        <div class="post-comic-label">
            Đăng truyện mới
        </div>
        <form onclick="return builderUrlForFrom(this)" method="POST" action="">
            <div class="form-group">
                <label for="name">Tên truện</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="urlImage">Link ảnh mô tả</label>
                <input type="text" class="form-control" id="urlImage" name="urlImage">
            </div>
            <div class="form-group">
                <label for="author">Tác giả</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div class="form-group">
                <label for="content">Nội dung</label>
                <textarea  type="text" class="form-control" id="content" name="content"></textarea>
            </div>
            <div>
                <label style="display: block;">Quốc gia</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="country" id="inlineRadio1" value="manga">
                    <label class="form-check-label" for="inlineRadio1">Nhật Bản</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="country" id="inlineRadio2" value="manhua">
                    <label class="form-check-label" for="inlineRadio2">Trung Quốc</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="country" id="inlineRadio3" value="manhwa">
                    <label class="form-check-label" for="inlineRadio3">Hàn Quốc</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Create</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each comics}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        <a href="/admin/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a href="" class="btn btn-link">Xóa</a>
                    </td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</div>

<script>
    function builderUrlForFrom(item) {
        item.action = `${window.location.origin}/admin/create`
        return true
    }
</script>