.navbar-search {
  background-color: black;
  border-radius: 10px;
  color: white;
  animation: borderAnimation 10s infinite;
  cursor: pointer; }

#navbar-search-box {
  max-width: 200px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  position: relative; }

.navbar-search > i {
  padding: 0 5px; }

@keyframes borderAnimation {
  0% {
    border: 2px solid red; }
  25% {
    border: 2px solid yellow; }
  50% {
    border: 2px solid green; }
  75% {
    border: 2px solid brown; }
  100% {
    border: 2px solid  red; } }

#navbar-search-data {
  position: absolute;
  top: 100%;
  background-color: white;
  color: black;
  right: 25%;
  z-index: 10000;
  width: 300px; }

#navbar-search-data > span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px; }

.navbar-search-data-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(to left, white 50%, chocolate 50%) right;
  background-size: 200%;
  transition: 0.3s linear; }

.navbar-search-data-item:hover {
  text-decoration: none;
  background-position: left;
  animation: borderAnimation 10s infinite; }

.navbar-search-data-item > img {
  width: 50px;
  height: 50px;
  object-fit: cover; }

.navbar-search-data-item > span {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  color: black; }

.navbar-history {
  color: white;
  transition: 0.3s linear;
  font-size: 16px;
  font-weight: 600; }

.navbar-history:hover {
  text-decoration: none;
  color: black; }

.navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; }

.navbar-user:hover .navbar-user-menu {
  display: flex; }

.navbar-user-name {
  margin-right: 5px; }

.navbar-user-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%; }

.navbar-user-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 5px black;
  border-radius: 5px;
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 100%;
  display: none; }

.navbar-user-menu-item {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  color: black; }

.navbar-user-menu-item:hover {
  background-color: #ccc;
  text-decoration: none;
  color: black; }

.navbar-user-menu-item:first-child:hover {
  background-color: #ccc;
  border-radius: 5px 5px 0px 0px; }

.navbar-user-menu-item:last-child {
  border-bottom: none; }

.navbar-user-menu-item:last-child:hover {
  background-color: #ccc;
  border-radius: 0px 0px 5px 5px; }

.navbar-login-regis {
  display: flex;
  align-items: center;
  color: white; }

.navbar-login,
.navbar-register {
  color: white; }

.navbar-login {
  margin-right: 10px; }

.navbar-login:hover,
.navbar-register:hover {
  color: black;
  text-decoration: none; }
