.comic-detail {
  padding: 20px 0;
  border-bottom: 1px solid white; }

.comic-detail-image {
  object-fit: cover;
  margin: 10px 0; }

.comic-detail-btn {
  display: flex;
  align-items: center;
  justify-content: center; }

.comic-detail-name {
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  font-weight: 700; }

.comic-detail-item {
  font-size: 16px;
  line-height: 30px;
  display: flex; }

.comic-detail-item > p {
  margin-right: 10px;
  font-weight: 600; }

.comic-detail-content {
  padding: 10px 0; }

.comic-detail-content-label {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  margin: 5px 0; }

.comic-detail-content-clearly {
  font-size: 16px;
  line-height: 25px;
  position: relative;
  max-height: 50px;
  overflow: hidden; }

.show-more-content {
  cursor: pointer; }

.less-state {
  width: 96%;
  color: white;
  padding-bottom: 10px;
  font-weight: 700; }

.more-state {
  position: absolute;
  overflow-x: hidden;
  bottom: 0;
  width: 96%;
  height: 100px;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), black);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: 700; }

.facebook-plugin {
  background-color: black;
  padding: 0px 10px;
  margin: 20px 0; }

.facebook-plugin-label {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border-bottom: 1px solid white; }

.facebook-plugin-label > svg {
  margin-right: 10px; }

.facebook-plugin > iframe {
  margin-top: 20px; }
