<div id="footer">
    <div class="container">
        <div id="scroll-top" onclick="scrollToTop()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
        </div>
        <div class="footer-item">
            <img src="./image/logo_web.ico" width="200" class="d-inline-block align-top" alt="">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FManga-Hay-1647848441994270%2F&tabs=timeline&width=340&height=70&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <span>Design - Trương Văn Hào</span>
        </div>
    </div>
</div>

<script>
    window.addEventListener("scroll", function() {
        var doc = document.documentElement
        var rollback = this.document.getElementById("scroll-top")
        var top = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0)
        if(top != 0){
            rollback.style.opacity = "1"
        }else {
            rollback.style.opacity = "0"
        }
    })

    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'})
    }
</script>