<!-- Image and text -->
<div id="header" style="background-color: chocolate;">
    <div class="container">
        <nav class="navbar" style="background-color: chocolate;">
            <div style="display: flex; align-items: center;">
                <a class="navbar-brand" href="/">
                    <img src="./image/logo_web.ico" width="200" class="d-inline-block align-top" alt="">
                </a>
                <a class="navbar-history" href="/history">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span>Lịch sử</span>
                </a>
            </div>
            <div class="navbar-search">
                <input type="text" id="navbar-search-box" onkeyup="sendDataComic(this)" placeholder="Tìm truyện...">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <section id="navbar-search-data">
                
            </section>

            {{#if user}}
            <div class="navbar-user">
                <div class="navbar-user-name">{{user.username}}</div>
                <img src="{{user.avatar}}" alt="" class="navbar-user-avatar">
                <ul class="navbar-user-menu">
                    <a href="/me" class="navbar-user-menu-item">
                        <i class="fas fa-user    "></i>
                        Trang cá nhân
                    </a>
                    <a href="/me/library" class="navbar-user-menu-item">
                        <i class="fas fa-heart    "></i>
                        Truyện yêu thích
                    </a>
                    <li onclick="event.preventDefault(); document.getElementById('form-logout').submit();" class="navbar-user-menu-item">
                        <i class="fas fa-outdent    "></i>
                        Đăng xuất
                    </li>
                </ul>
            </div>
            {{else}}
            <div class="navbar-login-regis">
                <a href="/login" class="navbar-login">
                    <i class="fas fa-user    "></i>
                    Đăng nhập
                </a>
                <a href="/register" class="navbar-register">
                    <i class="fas fa-registered    "></i>
                    Đăng ký
                </a>
            </div>

            {{/if}}
        </nav>
    </div>
</div>

<form method="POST" id="form-logout" action="/logout" style="display: none;"></form>

<script src="./js/headerHandle.js"></script>