<!-- Image and text -->
<div id="header" style="background-color: chocolate;">
    <div class="container">
        <nav class="navbar" style="background-color: chocolate;">
            <a class="navbar-brand" href="/">
                <img src="./image/logo_web.ico" width="200" class="d-inline-block align-top" alt="">
            </a>
            <a href="/secure/login" class="btn btn-primary" style="color: white;">Đăng nhập</a>
        </nav>
    </div>
</div>