<div class="container">
    <div class="row">
        <div class="col">
            <div class="container-slider">
                <h1 class="container-slider-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-landscape-fill" viewBox="0 0 16 16" style="margin-right: 10px;">
                        <path d="M2 14a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2zm11-7a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    Truyện mới hằng ngày
                </h1>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/5/ke-hoach-tu-cuu-cua-phan-phai-ma-nu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a HaremTraining Slaves to make a HaremTraining Slaves to make a HaremTraining Slaves to make a HaremTraining Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/5/ke-hoach-tu-cuu-cua-phan-phai-ma-nu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/5/ke-hoach-tu-cuu-cua-phan-phai-ma-nu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/5/ke-hoach-tu-cuu-cua-phan-phai-ma-nu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/91/dai-dich-nu-trong-sinh-ve-bao-thu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/91/dai-dich-nu-trong-sinh-ve-bao-thu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/91/dai-dich-nu-trong-sinh-ve-bao-thu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/91/dai-dich-nu-trong-sinh-ve-bao-thu.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/128/do-you-think-someone-like-you-could-defe-1214.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/128/do-you-think-someone-like-you-could-defe-1214.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/128/do-you-think-someone-like-you-could-defe-1214.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="slider-comic-item">
                                        <img src="http://st.nettruyenco.com/data/comics/128/do-you-think-someone-like-you-could-defe-1214.jpg" alt="">
                                        <div class="slider-comic-item-name">Training Slaves to make a Harem</div>
                                        <div class="slider-comic-item-chapter">Chapter 12</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
        import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'
      
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            loop: true,
            autoplay: {
                delay: 4000,
            },

            // If we need pagination
            pagination: {
            el: '.swiper-pagination',
            },
        
            // Navigation arrows
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
        
        });
    </script>