<div id="error-page">
    <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
        <h1 class="display-1 fw-bold text-white">Trang không tồn tại!</h1>
        <a href="/" class="btn btn-danger">Quay lại trang chủ</a>
    </div>
</div>

<style>
    #error-page {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
</style>