<div class="user">
    <div class="user-header">
        <img class="user-cover-image" src="/image/bg_repeat.jpg" alt="">
        <div class="user-header-extra">
            <img class="user-avatar" src="https://truyentranhlh.net/storage/images/thumb/7a1394bd-6889-4ff3-a130-14e5418f929c.jpg" alt="">
            <div class="user-nickname-type">
                <div class="user-nickname">{{user.username}}</div>
                <div class="user-type">{{user.type}}</div>
            </div>
        </div>
        <div class="user-padding-bg-white"></div>
    </div>
</div>